<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaneri.admin.mywhatsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".finalchatapp.MainActivity" />
        <activity
            android:name=".finalchatapp.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".finalchatapp.Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".finalchatapp.Register"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".finalchatapp.UserListingActivity"
            android:theme="@style/MyMaterialTheme"/>
        <activity
            android:name=".finalchatapp.ResetPassword"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".settings.SettingsActivity"
            android:parentActivityName=".finalchatapp.UserListingActivity" />
        <activity
            android:name=".settings.DeleteProfile"
            android:parentActivityName=".settings.SettingsActivity" />
        <activity android:name=".settings.ChangePassword" />
        <activity android:name=".settings.ChangeEmail"></activity>

        <activity android:name=".chat.ChatRoom"></activity>
    </application>

</manifest>